<h1>Burgers</h1>

<ul>
    {{#each burgers}}
    <li>{{ id }} {{ burger_name }} {{ devoured }}</li>
    {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger">Burger name:</label>
        <input type="text" id="burger" name="burger-name">
    </div>

    <button type="submit">Add burger</button>

</form>